.bouton_commande {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: AUTO;
  height: auto;
  margin: 1.5rem auto;
  padding: 0.8rem 1.2rem;
  background-color: #44ca68;
  border: 0.1rem solid #064e38;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: 0.7rem; /* réduit pour tenir sur mobile */
  color: #ffffff;
  word-break: normal;
  overflow-wrap: break-word;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 0;
}

.bouton_commande:hover {
  background-color: #00b050; /* un peu plus foncé au survol */
}

.details_menus {
  min-height: 180px;
  padding: 0.6rem;
  margin: 0.5rem;
  font-size: 0.9rem;
}

/*---Galerie---*/
.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

.galerie figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.galerie img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.galerie figure:hover img {
  transform: scale(1.1);
}

.galerie figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.7rem;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.galerie figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

/*---Fenêtre Lightbox---*/
.lightbox {
  display: none; /* cachée par défaut */
  position: fixed;
  z-index: 1000;
  inset: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 200%;
  max-height: 200%;
  opacity: 1;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.lightbox.active {
  display: flex;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #ccc;
}

@media screen and (min-width: 768px) {
  h1 {
    white-space: nowrap;
  }
}
