h2 {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.1;
}

.commandes_en_cours,
.precisions_menus,
.menus .validation_avis .avis_refuse {
  width: 100%;
  overflow-x: auto;
}

table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.4rem;
  white-space: nowrap;
}

.actions_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  margin-top: 2rem;
}

.actions_menus form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.bouton_menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 1px solid #064e38;
  border-radius: 0.5rem;
  background-color: #44ca68;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bouton_menu:hover {
  background-color: #c8ff95;
}
