.utilisateur_gauche {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -250px;
  background-color: #ccff99;
  padding-top: 1ch;
  padding-left: 20px;
  transition: left 0.5s ease;
  overflow-x: hidden;
  visibility: hidden;
}

.utilisateur_gauche a {
  display: block;
  padding: 8px 8px 8px 45px;
  text-decoration: none;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #818181;
  transition: 0.3s;
}

.utilisateur_gauche a:hover,
.utilisateur_gauche a:focus {
  color: #000;
}

.utilisateur_gauche ul {
  list-style-type: none;
  padding-top: 5rem 0 0 0;
  margin: 0;
}

.utilisateur_gauche.active {
  left: 0;
  visibility: visible;
}

.utilisateur_gauche .close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  color: #818181;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: clamp(48px, 10vw, 70px);
  height: clamp(48px, 10vw, 70px);
  padding: 0px;
  border: 1px solid #ccc;
  background-color: #ccff99;
  cursor: pointer;
  flex: 0 0 auto;
  z-index: 1001;
}

.burger span {
  display: block;
  height: 3px;
  width: 22px;
  background: black;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .utilisateur_gauche {
    width: 280px;
    left: -280px;
  }
}
